body{
    
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color:#434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    
}
.logo-studio{
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;

}

.header-logo{
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.header-menu-item{
    color:  #2E2F42;

/* Body Medium */
font-family: "Roboto", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.32px;
}
.address-item{
    

/* Body */
font-family: "Roboto", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.32px;
}
.header-menu{
    list-style-type: none;
    
   
}
.address-menu{
    list-style-type: none;
}


.address-link{
    color: #434455;
}
.header-menu-link{
color: #2E2F42;
}
.header-menu-link:hover{
color:#404bbf;
}
.address{
    font-style: normal;
}
.header-menu-link:focus{
    color:#404bbf;
}
.address-link:hover, .address-link:focus {
    color:#404bbf;
}
.hero{
    background: #2E2F42;
}
.hero-title{
    text-align: center;
    color: #ffffff;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}
.hero>.btn{
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: #4D5AE5;
    color:#ffffff;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;

}
.hero>.btn:hover,.hero>button:focus{
    background-color:#404BBF;
}

.features-list-title{
    color: #2E2F42;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    
}
.features-list-text{
    color: #434455;
    letter-spacing: 0.02em;
}
.team-page{
    width: 1440px;
    height: 732px;
    flex-shrink: 0;
    background: #F4F4FD;
}
.team-page>ul{
    list-style-type: none;
}

.team-page>ul>li{
    border-radius: 0px 0px 4px 4px;
    background:  #ffffff;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    align-items: center;
    
}
.team-page>ul>li>h3{
    color:  #2E2F42;
    text-align: center;
    /* Header 3 */
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
}
.team-page>ul>li>p{
    color:  #434455;
    text-align: center;
    letter-spacing: 0.02em;
}
.team-title{
    color:  #2e2f42;
text-align: center;
/* Header 2 */
font-family: "Roboto",sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;/* 111.111% */
letter-spacing: 0.02em;
text-transform: capitalize;
}
